.search-form {
  // position: absolute;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}

.search-btn {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
  background-color: bisque;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 160px) / 5);
  border: 1px solid black;
}

a {
  cursor: pointer;
}

._img {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.upBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  font-weight: 500;
  color: bisque;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: teal;
}
